* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden
}

img {
    max-width: 300px;
    cursor: pointer;
}

/* area */
.area {
    display: grid;
    height: 50vh;
    grid-template-columns: 2fr 1fr 2fr;
    gap: 5px;
    
}

.grid-1 {
    display: grid;
    align-content: center;
    justify-content: center;
    background-color: bisque;
}

.grid-2 {
    display: grid;
    background-color: aquamarine;
}

.grid-2 h3 {
  display: none;
  font-size: 36px;
}

.grid-2 button {
  display: none; 
}

.grid-3 {
    display: grid;
    align-content: center;
    justify-content: center;
    background-color: dodgerblue; 
}

.game-info {
    display: grid;
    justify-content: center;
    align-items: center;
    justify-items: center;
    align-content: start;
    padding-top: 20px;
}


/* estilo */
.name {
    display: flex;
    justify-content: center;
    font-size: 38px;
}

.titulo, .vencedor {
    font-size: 40px;
}


/* barra de vida */
.lifebar {
    height: 25px;
    border:1px solid #333;
    border-radius: 15px;
}

.lifebar .bar {
    height: inherit;
    background-color: red;
    border-radius: 10px;
}


/* botao */
.buttons {
    display: flex;
    justify-content: center;
}

.myButton {
	background-color:#42d0ff;
	border-radius:6px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
    margin-top: 10px;
    margin-left: 15px;
	text-decoration:none;
}
.myButton:hover {
	background-color:#019ad2;
}


.log {
  display: grid;
  grid-column: 2;
  margin-top: 20px;
  border: 1px dotted #999;
  height: 200px;
  overflow-y: scroll;
  overflow-x: hidden;
  justify-items: center;
  align-items: center;
  align-content: center;

}



/*MODAL*/
.pokemon-list img {
    max-width: 140px;
    cursor: pointer;
    transition: transform 0.25s;
  }
  
 .pokemon-list img:hover {
    transform: scale(1.1);
  }
  
  .modal {
    display: none; 
    position: fixed;
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    background-color: rgba(0,0,0,0.4);
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 10% auto; 
    padding: 30px;
    border: 1px solid #888;
    width: 70%;  
  }
  
  
  #myBtn {
    display: flex;
    justify-content: center;
      background-color:#2dabf9;
      border-radius:19px;
      display:inline-block;
      cursor:pointer;
      color:#ffffff;
      font-family:Arial;
      font-size:15px;
      padding:17px 30px;
      text-decoration:none;
    border: 0;
  }
  
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .pokemon-list {
    display: flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
  }
  
  .pokemon-list h2 {
    text-align: center;
  }
  
  .text {
    display: flex;
    justify-content: center;
  }
  
  
  /* informacoes do tipo do pokemon */
  .type {
    display: flex;
    justify-content: center;
  }
  
  #electric {
    color: #fff;
    margin-top: 5px;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 15px;
    background-color: #F8D030;
    border: 1px solid #A1871F;
  }
  
  #ice {
    color: #fff;
    margin-top: 5px;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 15px;
    background-color: #98D8D8;
    border: 1px solid #638D8D;
  }
  
  #grass {
    color: #fff;
    margin-top: 5px;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 15px;
    background-color: #78C850;
    border: 1px solid #4E8234;
  }
  
  #water {
    color: #fff;
    margin-top: 5px;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 15px;
    background-color: #6890F0;
    border: 1px solid #445E9C;
  }
  
  #flying {
    color: #fff;
    margin-top: 5px;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 15px;
    background-color: #A890F0;
    border: 1px solid #6D5E9C;
  }



  /* responsivo */
  @media (max-width: 500px) { 
    .modal-content {
      width: auto;
    }

   .container {
    display: flex;
   }

   .area {
    grid-template-columns: 1fr
   }

   img {
    max-width: 100px;
   }

   .name {
    font-size: 18px;
   }

   .myButton {
    padding: 2px 5px;
   }

   .log {
    display: grid;
    grid-column: 1;
   }
  }